#conteudo{
	padding-top: 60px;
}
table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
		}
th, td{
	padding: 5px;
	text-align: center;
}
#comiteImg img{
	width: 200px

}
#comiteImg label{
	text-align: bottom;
}
.rosa{
	background-color: #F4CCCC;
}
.azul{
	background-color: #C9DAF8;
}
.amarelo{
	background-color: #FFF2CC;
}
.verde{
	background-color: #B6D7A8;
}
.preto{
	background-color: #B7B7B7;
}