#conteudo{
	padding-top: 60px;
}
table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
		}
th, td{
	padding: 5px;
	text-align: center;
}
#comiteImg img{
	width: 200px

}
#comiteImg label{
	text-align: bottom;
}
.rosa{
	background-color: #F4CCCC;
}
.azul{
	background-color: #C9DAF8;
}
.amarelo{
	background-color: #FFF2CC;
}
.verde{
	background-color: #B6D7A8;
}
.preto{
	background-color: #B7B7B7;
}

.box0 { 
    height: 100px;   
    background-color: #9AFF9A;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 20px 10px;
    padding: 10px;
}
.box { 
    height: 100px;   
    background-color: #7CCD7C;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 20px 10px;
    padding: 10px;
}

img{

	margin-right: 20px;
	margin-bottom: 10px;
}

